[submodule "components/esp-aws-iot"]
	path = components/esp-aws-iot
	url = https://github.com/espressif/esp-aws-iot.git
[submodule "components/esp-cryptoauthlib/cryptoauthlib"]
	path = components/esp-cryptoauthlib/cryptoauthlib
	url = https://github.com/MicrochipTech/cryptoauthlib.git
